#header{
    min-width: 320px;
    width: 100%;
    height: 100px;
    background-color:#E5E3DF;
    position: relative;
    z-index: 5;
    .first{
        display: none;
    } 
    .logo {
        position: absolute;
        transition: all 1s ease-in-out;//ease sozinho é transition linear, ease-in quase igual ao linear é uma animação uniforme, ease-in-out é um efeito como que acelerando e depois ficando mais lento/
        top: 15px;
        width: 100px;
        right: calc(50vw - 36px);
        z-index: 7;
    }
    .menu {
        transition: right .5s ease-in-out;
        width: 400px;
        height: 100vh;
        padding-bottom: 50px;//quando voce da um scroll no chrome para celular seu viewport muda de tamanho e o CSS não reconhece isso, então esse padding é um hack par resolver essa situação/
        background-color: #E5E3DF;
        position: fixed;
        right: -400px; // tem que ser -300 para ficar fora//
        top: 0;
        z-index: 6;
        flex-direction: column;
        justify-content: space-between;
        
        hr {
            position: relative;
            width: 60%;
            border-color: #000;
            top: 130px; 
        }
        .dow {
            top: 20px;
        }
        
        nav {
            flex-direction: column;
            ul {
                margin: 0;
                padding: 0;
                margin-top: 150px;
                width: 100%;
                flex-direction: column;
                max-height: calc(100vh - 250px);
                overflow-y: auto;
                li {
                    font-size: 30px;
                    padding: 20px 0;
                    list-style: none;
                    justify-content: center;
                    a {
                        text-decoration: none;
                        color: var(--gray-0);
                    }
                }
            }
        }
        div {
            align-self: center;
            .btn-register {
            display: flex;
            text-decoration: none;
            font-weight: 600px;
            position: relative;
            justify-content: center;
            @include button-orange;
            margin-top: 30px;
            }
        }
        .sociais {
            a{
                margin: 10px;
                margin-top: 30px;
            }
        }
           
    } 
    #btn-open, #btn-close {
        position: absolute;
        right: 20px;
        top: 25px
    }
}
.open-menu {
    overflow: hidden;//aplicando esse open menu no body, se não colocar overflow cria a barra lateral, então esse estilo significa "se sari do body, esconde!"/
    #header {
        .menu{
            width: 100vw;
            right: 0;
        }
        .logo {
            right: 87px;
            width: 150px;
            right: calc(50vw - 75px);
        }
    }
}

@media (min-width: 992px) {
    .open-menu {
        overflow: initial;
        #header {
            .menu{
                width: calc(100vw - 150px);
                top: 25px;
            }
            .logo {
                top: 30px;
                right: calc(100vw - 150px);
            }
        }
    }
    #header {
        height: 105px;
        flex-direction: column;
        
        .first {
            display: flex;
            position: relative;
            width: 100%;
            height: 28px;
            background-color: black;
            flex-direction: row;
            p {
                margin: 0;
                display: flex;
                font-size: 15px;
                color: #CFC6C6;
                align-items: center;
                margin-left: 120px;  
            }
            div {
                position: absolute;
                right: 30px;
                display: flex;
                align-items: center;
                a {
                    margin-left: 20px;
                    align-items: center;
                    margin-top: 2px;
                }      
            }
        }
        .sociais {
            display: none;
        }
        .logo {
            width: 100px;
            top: 30px;
            right: calc(100vw - 150px);
            margin-right: 10px;
        }
        #btn-open, #btn-close {
            display: none;
        }
        .menu {
            right: initial;
            position: static;//voltaou para o padrão da tela/
            background-color: initial;
            width: calc(100vw - 150px);
            height: 100px;
            flex-direction: row;
            align-items: center;
            padding-bottom: 0;
            
            nav {
                hr {
                    display: none;
                }
                width: 100%;
                
                ul {
                    width: calc(100vw -150px);
                    position: absolute;
                    flex-direction: row;
                    margin-top: -50px;
                    justify-content: center;
                    li {
                       
                        a {
                            font-size: 15px;
                            min-width: 120px;
                            margin: 0 15px;
                            padding: 20px 0;
                            text-align: center;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
            div {
                justify-content: flex-end;
                margin-right: -130px;
                .btn-register {
                    width: 100px;
                    height: 25px;
                    font-size: 15px;
                    margin:0;
                    
                }
            }
           
        }
    }
}
@media (min-width: 1200px) {
    #header {
        .menu {   
            nav {
                ul {   
                    li {
                        a {
                            margin: 0 30px;
                        }
                    }
                }
            }   
        }
    }

}

