#home {
    flex-direction: column;
    margin-top: -80px;
    > header {
        width: 100%;
        min-width: 320px;
        height: 100vh;
        background-image: url('../images/baners/home.webp');
        background-size: cover;
        background-position-x: 55%;
        background-position-y: center;
        background-repeat: no-repeat;
        align-items: flex-end;
        justify-content: flex-end;
        padding: var(--space);
        position: relative;
        
        h1 {
            display: flex;
            width: 300px;
            position: absolute;
            font-weight: bold;
            color: var(--orange);
            font-size: 30px;
            text-align: left;
            bottom: 99px;
            margin: -21px;   
            align-items: center; 
            justify-content: center;    
               
        }
        hr {
            position: absolute;
            height: 70px;
            width: 80px;
            flex-direction: column;
            border: none;
            border-left: var(--orange) 3px Solid;
            border-bottom: var(--orange) 3px Solid;
            color: var(--white);
            bottom: 70px;
            margin-left: 10px;
            margin-right: 204px;
            
        }
    }
    .shop {
        min-width: 320px;
        flex-direction: column;
        justify-content: center;
        padding: var(--space);
        position: relative;
        justify-content: center;
        .wap { 
            flex-direction: column;
            figure {
                justify-content: center;
                position: relative;
                flex-direction: column;
                align-items: center;
                top: 100px;
            }
            .last {
                display: none;
            }
            
            
        }
        .wap { 
            flex-direction: column;
            figure {
                justify-content: center;
                position: relative;
                flex-direction: column;
                align-items: center;
                top: 100px;
            }
            .last {
                display: none;
            }
            
            
        }
        .wap + .wap {
            display: none;
        }
        div {
            justify-content: center;
            .btn-register {
                display: flex;
                text-decoration: none;
                position: absolute;
                @include button-orange;
                bottom: -150px; 
            }
        }
    }
    .gallery{
        top: 190px;
        width: 100%;
        min-width: 320px;
        height: calc(100vh + 200px);
        background-image: url('../images/baners/gallery.webp');
        background-size: cover;
        background-position-x: 29%;
        background-position-y: center;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        padding: var(--space);
        position: relative;
        .page-title {
            h3 {
                top:0px;
            }
            hr { 
                margin-right: 200px;
                top: 18px; 
            }
        }
  
        .wap {
            flex-direction: column;
            height: 100vh;  
            .master {
                flex-direction: column;
                width: 250px;
                figure {
                justify-content: center;
                position: relative;
                flex-direction: column;
                align-items: center;
                top: 10px;
                margin: 10px;
                }
                .last-photo {
                    display: none;
                }
                
            }
           
        }
        div {
            justify-content: center;
            align-items: center;
            .btn-register {
                display: flex;
                text-decoration: none;
                position: absolute;
                @include button-orange;
                bottom: 10px; 
            }
        }
    }
    .about {
        top: 190px;
        width: 100%;
        min-width: 320px;
        height: 100vh;
        background-image: url('../images/baners/sobre.webp');
        background-size: cover;
        background-position-x: 65%;
        background-position-y: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        padding: var(--space);
        position: relative;
        flex-direction: column;
        .page-title {
            hr{
                top: 60px;
                margin-right: 100px;
            }
        }
        title {
            margin-top: 50px;
            font-weight: bold;
            display: flex;
            position: absolute;
            top: 80px;

        }
        div {
            figure {
                margin-top: 100px;
            }
        }
        div {
            justify-content: center;
            .btn-register {
                display: flex;
                text-decoration: none;
                position: absolute;
                @include button-orange;
                bottom: 30px;
                
            }
        }

    }
}

@media(min-width: 375px){

    #home {
        >header {
            h1{
                font-size: 35px;
                bottom: 60px;
                margin: 20px;     
            }
            hr {
                margin-right: 250px;
            }
        }
        .shop {
            figure {
                top: 90px;
            }
        }
        .gallery{
            .wap {
                .master {
                    figure {
                        top: -10px
                    }
                }
            }
            div {
                .btn-register { 
                    bottom: 50px; 
                }
            }
        }
        .about {
            height: 80vh;
            .page-title {
                hr{
                    top: 60px;
                    margin-right: 100px;
                }
            }
            title {
                font-size: 20px;
                margin-top: 50px;
                font-weight: bold;
                display: flex;
                position: absolute;
                top: 80px;
    
            }
            div {
                figure {
                    margin-top: 120px;
                }
            }
            div {
                justify-content: center;
                .btn-register {
                    bottom: 10px;
                    
                }
            }
    
    
        }
        
    }  
}
@media(min-width: 768px) {
    #home {
        .shop { 
            .wap {
                flex-direction: row;
                align-items: flex-end;
                figure {
                    margin: 10px;
                }
            }
            div {
                .btn-register {
                    bottom: -150px;
                }
            }
        }
        .gallery{
            height: 70vh;
            .wap {
                flex-direction: row;
                .master {
                    flex-direction: row;
                    align-items: flex-end;
                    figure {
                        top: 0;
                        margin: 30px;
                    }
                }
            }
            div {
                .btn-register { 
                    bottom: 50px; 
                }
            }
        }
        .about {
            height: 80vh;
            .page-title {
                h4 {
                    top: 10px;
                }
                hr{
                    top: 30px;
                    margin-right: 100px;
                }
            }
            title {
                font-size: 25px;
                top: 45px;
    
            }
            div {
                figure {
                    img {
                        max-width: 35vh;
                    }
                }
            }
            div {
                .btn-register {
                    bottom: 15px;
                    
                }
            }
        }
        
    }
}
@media(min-width: 992px) {
    #home {
        >header {
            h1{
                width: 400px;
                font-size: 40px;
                margin: 20px;
                bottom: 30px;
            }
            hr {
                margin-right: 355px;
                bottom: 40px;
            }
        }
        .shop { 
            height: 70vh;
            .page-title {
                h2 {
                    font-size: 35px;
                    top: 35px;
                }
                hr {
                    top: 65px;  
                    margin-right: 430px;
                }
            }
            .wap {
                figure{
                    top: 150px;
                }
                .last {
                    display: flex;
                }
            }
            .wap + .wap {
                display: flex;
            }
            div {
                .btn-register { 
                    bottom: -240px; 
                }
            }
        }
        .gallery {
            top: 290px;
            height: 100vh;
            .page-title {
                h3 {
                    font-size: 35px;
                    top: 35px;
                }
                hr {
                    top: 70px;  
                    margin-right: 320px;
                }
            }
            .wap {
                .master {
                    .last-photo {
                        display: flex;
                    }
                }
            }   
        }
        .about {
            top: 290px;
        }
        
    }

}
