@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GloriaHallelujah";
  src: local("GloriaHallelujah"), url("../fonts/GloriaHallelujah-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
:root {
  --white: #fff;
  --orange:#FE8206;
  --test:#ffc663;
  --footer: #414144;
  --orange-1: #ffc663;
  --black-1: #000000bf;
  --space: 20px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0 auto;
  flex-direction: column;
}
body > main {
  min-height: calc(100vh - calc(62px + 377px));
}
body > main#home {
  flex-direction: column;
}
body .page-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body .page-title h2, body .page-title h3, body .page-title h4, body .page-title h5 {
  display: flex;
  position: absolute;
  color: var(--orange);
  font-size: 23px;
  text-align: left;
  top: 35px;
  font-weight: bold;
}
body .page-title hr {
  display: flex;
  position: absolute;
  height: 35px;
  width: 35px;
  border: none;
  border-left: var(--orange) 2px Solid;
  border-bottom: var(--orange) 2px Solid;
  color: var(--white);
  top: 50px;
  margin-right: 275px;
}
body .contact {
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
body .contact form {
  max-width: 900px;
  margin-bottom: calc( var(--space) * 3 );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}
body .contact form .field {
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
body .contact form .field label {
  font-family: "Open Sans";
  font-size: 20px;
  color: #7E7E7E;
  transition: color 0.2s ease-in-out;
}
body .contact form .field input, body .contact form .field textarea {
  border: none;
  border: 1px solid #CCC;
  font-size: 22px;
  transition: border-color 0.2s ease-in-out;
}
body .contact form .field input:focus, body .contact form .field textarea:focus {
  border: none;
  border-bottom: 1px solid var(--orange);
  outline: none;
}
body .contact form .field input:focus + label, body .contact form .field textarea:focus + label {
  color: var(--orange);
}
body .contact form button {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
body .contact form button a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
body .contact form button:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
body .contact form button:hover {
  background-color: #F6B06A;
}
body .contact form button:active {
  background-color: var(--footer);
}

hr.divider {
  border: none;
  border-bottom: var(--white) 1px solid;
  width: calc(100% - 50px);
  margin-top: 20px;
}

@media (min-width: 768px) {
  .contact h2 {
    padding: 0px 80px;
  }
  .contact form {
    padding: 40px 80px;
  }
}
@media (min-width: 1200px) {
  body main {
    min-height: calc(100vh - calc(50px + 250px));
  }
  body .contact {
    padding: 0 100px;
  }
  body .contact form {
    border: 1px solid var(--gray-1);
    margin-top: 60px;
    padding: 40px 200px;
  }
}
#header {
  min-width: 320px;
  width: 100vw;
  height: 100px;
  background-color: #E5E3DF;
  position: relative;
  z-index: 5;
}
#header .first {
  display: none;
}
#header .first p img {
  width: 25px;
  height: 15px;
}
#header .first div {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
}
#header .first div a {
  margin-left: 10px;
  align-items: center;
  margin-top: 2px;
}
#header .first div a img {
  width: 25px;
  height: 25px;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  top: 15px;
  width: 100px;
  height: 83px;
  right: calc(50vw - 36px);
  z-index: 7;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 400px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: #E5E3DF;
  position: fixed;
  right: -400px;
  top: 0;
  z-index: 6;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu hr {
  position: relative;
  width: 60%;
  border-color: #000;
  top: 130px;
}
#header .menu .dow {
  top: 20px;
}
#header .menu.logged nav ul li.divider {
  display: flex;
}
#header .menu.logged nav ul li.hide-guest {
  display: flex;
}
#header .menu.logged .footer > div {
  display: flex;
}
#header .menu.logged .footer > a.btn-register {
  display: none;
}
#header .menu nav {
  flex-direction: column;
}
#header .menu nav ul {
  margin: 0;
  padding: 0;
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
#header .menu nav ul li {
  font-size: 25px;
  padding: 5px 0;
  list-style: none;
  justify-content: center;
}
#header .menu nav ul li a {
  text-decoration: none;
  color: var(--gray-0);
}
#header .menu nav ul.hide-guest, #header .menu nav ul.divider {
  display: none;
}
#header .menu .footer {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#header .menu .footer > div {
  display: none;
  padding: 15px;
  width: 100%;
  align-items: center;
}
#header .menu .footer > div picture {
  margin-right: 10px;
}
#header .menu .footer > div picture img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#header .menu .footer > div > div {
  flex-direction: column;
  flex: 1;
}
#header .menu .footer > div a {
  color: var(--dark-0);
  text-decoration: none;
  font-size: 16px;
}
#header .menu .footer > div a small {
  color: var(--gray-2);
  font-size: 12px;
}
#header .menu .btn-register {
  margin: 20px;
  width: calc(300px - 40px);
  background-color: blue;
}
#header .menu div {
  align-self: center;
}
#header .menu div .btn-register {
  display: flex;
  text-decoration: none;
  font-weight: 600px;
  position: relative;
  justify-content: center;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
}
#header .menu div .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#header .menu div .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#header .menu div .btn-register:hover {
  background-color: #F6B06A;
}
#header .menu div .btn-register:active {
  background-color: var(--footer);
}
#header .menu .sociais a {
  margin: 10px;
  margin-top: 30px;
}
#header .menu .sociais a img {
  width: 50px;
  height: 50px;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 40px;
  height: 40px;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header {
  width: 100%;
  height: 100%;
}
.open-menu #header .menu {
  width: 100vw;
  height: 100vh;
  right: 0;
}
.open-menu #header .logo {
  width: 135px;
  height: 110px;
  right: calc(50vw - 75px);
}

@media (min-width: 375px) {
  .open-menu {
    overflow: hidden;
  }
  .open-menu #header {
    width: 100%;
    height: 100%;
  }
  .open-menu #header .menu {
    width: 100vw;
    height: 100vh;
    right: 0;
  }
  .open-menu #header .menu nav li {
    padding: 15px 0;
    font-size: 30px;
  }
  .open-menu #header .menu div {
    align-self: center;
  }
  .open-menu #header .menu div .btn-register {
    display: flex;
    text-decoration: none;
    font-weight: 600px;
    position: relative;
    justify-content: center;
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--orange);
    border-radius: 5px;
    color: black;
    font-size: 19px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
  }
  .open-menu #header .menu div .btn-register a {
    color: #F2F2F2;
    font-weight: bold;
    margin-left: 10px;
  }
  .open-menu #header .menu div .btn-register:hover {
    background-color: var(--white);
    color: #2E2E2E;
    cursor: pointer;
  }
  .open-menu #header .menu div .btn-register:hover {
    background-color: #F6B06A;
  }
  .open-menu #header .menu div .btn-register:active {
    background-color: var(--footer);
  }
  .open-menu #header .menu .sociais a {
    margin-top: 40px;
  }
  .open-menu #header .logo {
    width: 150px;
    height: 125px;
    right: calc(50vw - 75px);
  }
}
@media (min-width: 992px) {
  .open-menu {
    overflow: initial;
  }
  .open-menu #header .menu {
    width: calc(100vw - 150px);
    top: 25px;
  }
  .open-menu #header .logo {
    top: 30px;
    right: calc(100vw - 150px);
    right: 87px;
    width: 120px;
  }

  #header {
    height: 105px;
    flex-direction: column;
  }
  #header .first {
    display: flex;
    position: relative;
    width: 100%;
    height: 28px;
    background-color: black;
    flex-direction: row;
  }
  #header .first p {
    margin: 0;
    display: flex;
    font-size: 15px;
    color: #CFC6C6;
    align-items: center;
    margin-left: 120px;
  }
  #header .sociais {
    display: none;
  }
  #header .logo {
    width: 100px;
    top: 30px;
    right: calc(100vw - 150px);
    margin-right: 10px;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header .menu {
    right: initial;
    position: static;
    background-color: initial;
    width: calc(100vw - 150px);
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }
  #header .menu nav {
    width: 100%;
  }
  #header .menu nav hr {
    display: none;
  }
  #header .menu nav ul {
    width: calc(100vw -150px);
    position: absolute;
    flex-direction: row;
    margin-top: -35px;
    justify-content: center;
  }
  #header .menu nav ul li a {
    font-size: 15px;
    min-width: 120px;
    margin: 0 15px;
    padding: 20px 0;
    text-align: center;
  }
  #header .menu nav ul li a:hover {
    color: black;
  }
  #header .menu div {
    justify-content: flex-end;
    margin-right: -130px;
  }
  #header .menu div .btn-register {
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  #header .menu nav ul li a {
    margin: 0 30px;
  }
}
#home {
  flex-direction: column;
  margin-top: -80px;
}
#home > header {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-image: url("../images/baners/home.webp");
  background-size: cover;
  background-position-x: 55%;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--space);
  position: relative;
}
#home > header h1 {
  display: flex;
  width: 300px;
  position: absolute;
  font-weight: bold;
  color: var(--orange);
  font-size: 30px;
  text-align: left;
  bottom: 99px;
  margin: -21px;
  align-items: center;
  justify-content: center;
}
#home > header h1:hover {
  color: #FF8C00;
  font-size: 45px;
}
#home > header hr {
  position: absolute;
  height: 70px;
  width: 80px;
  flex-direction: column;
  border: none;
  border-left: var(--orange) 3px Solid;
  border-bottom: var(--orange) 3px Solid;
  color: var(--white);
  bottom: 70px;
  margin-left: 10px;
  margin-right: 204px;
}
#home .shop {
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  position: relative;
  justify-content: center;
}
#home .shop .wap {
  flex-direction: column;
}
#home .shop .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 100px;
}
#home .shop .wap figure a {
  margin: 30px;
  bottom: -40px;
}
#home .shop .wap figure a img.prancha {
  width: 204px;
  height: 174px;
}
#home .shop .wap figure a img.bone {
  width: 198px;
  height: 153px;
}
#home .shop .wap figure a img.wet {
  width: 141px;
  height: 175px;
}
#home .shop .wap figure a img.wet {
  width: 180px;
  height: 180px;
}
#home .shop .wap figure a img.oakley {
  width: 210px;
  height: 150px;
}
#home .shop .wap figure a img.prancha-2 {
  width: 140px;
  height: 200px;
}
#home .shop .wap figure a img.oculosf {
  width: 190px;
  height: 190px;
}
#home .shop .wap figure a img.parafina {
  width: 125px;
  height: 180px;
}
#home .shop .wap figure a:hover {
  border: none;
  border: 1px solid var(--orange);
  outline: none;
}
#home .shop .wap .last {
  display: none;
}
#home .shop .wap {
  flex-direction: column;
}
#home .shop .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 100px;
}
#home .shop .wap .last {
  display: none;
}
#home .shop .wap + .wap {
  display: none;
}
#home .shop div {
  justify-content: center;
}
#home .shop div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: -150px;
}
#home .shop div .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#home .shop div .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#home .shop div .btn-register:hover {
  background-color: #F6B06A;
}
#home .shop div .btn-register:active {
  background-color: var(--footer);
}
#home .gallery {
  top: 190px;
  width: 100%;
  min-width: 320px;
  height: calc(100vh + 100px);
  background-image: url("../images/baners/gallery.webp");
  background-size: cover;
  background-position-x: 29%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  position: relative;
}
#home .gallery .page-title h3 {
  top: 0px;
}
#home .gallery .page-title hr {
  margin-right: 200px;
  top: 18px;
}
#home .gallery .wap {
  flex-direction: column;
  height: 100vh;
}
#home .gallery .wap .master {
  flex-direction: column;
  width: 250px;
}
#home .gallery .wap .master figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 60px;
  margin: 10px;
}
#home .gallery .wap .master figure a {
  bottom: -40px;
}
#home .gallery .wap .master figure a img.tall {
  width: 95px;
  height: 150px;
}
#home .gallery .wap .master figure a img.to-lay {
  width: 160px;
  height: 90px;
}
#home .gallery .wap .master figure a:hover {
  border: none;
  border-bottom: 1px solid var(--orange);
  outline: none;
}
#home .gallery .wap .master .last-photo {
  display: none;
}
#home .gallery .call {
  width: 100%;
  align-items: center;
  margin: 60px 0;
}
#home .gallery .call a {
  width: 100%;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
}
#home .gallery .call a span {
  display: flex;
  margin: 10px;
  font-size: 19px;
  color: var(--orange);
  font-weight: bolder;
  justify-content: center;
  text-align: center;
}
#home .gallery div {
  justify-content: center;
  align-items: center;
}
#home .gallery div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: 10px;
  z-index: 4;
}
#home .gallery div .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#home .gallery div .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#home .gallery div .btn-register:hover {
  background-color: #F6B06A;
}
#home .gallery div .btn-register:active {
  background-color: var(--footer);
}
#home .about {
  width: 100%;
  min-width: 320px;
  height: 850px;
  background-image: url("../images/baners/sobre.webp");
  background-size: cover;
  background-position-x: 7%;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  position: relative;
  flex-direction: column;
}
#home .about .page-title h4 {
  top: 190px;
}
#home .about .page-title hr {
  top: 215px;
  margin-right: 100px;
}
#home .about title {
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 240px;
}
#home .about div figure {
  margin-top: 200px;
}
#home .about div figure img {
  width: 70vw;
}
#home .about div {
  justify-content: center;
}
#home .about div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: 70px;
}
#home .about div .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#home .about div .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#home .about div .btn-register:hover {
  background-color: #F6B06A;
}
#home .about div .btn-register:active {
  background-color: var(--footer);
}

@media (min-width: 375px) {
  #home > header h1 {
    font-size: 35px;
    bottom: 60px;
    margin: 20px;
  }
  #home > header hr {
    margin-right: 250px;
  }
  #home .shop figure {
    top: 90px;
  }
  #home .gallery .wap .master figure {
    top: 0px;
  }
  #home .gallery .wap .master figure a img.tall {
    width: 145px;
    height: 200px;
  }
  #home .gallery .wap .master figure a img.to-lay {
    width: 210px;
    height: 140px;
  }
  #home .gallery .wap .master figure a:hover {
    border: none;
    border-bottom: 1px solid var(--orange);
    outline: none;
  }
  #home .gallery .call {
    width: 100%;
    align-items: center;
    margin-top: -60px;
  }
  #home .gallery div .btn-register {
    margin-bottom: 15px;
  }
  #home .about .page-title h4 {
    top: 190px;
  }
  #home .about .page-title hr {
    top: 215px;
    margin-right: 100px;
  }
  #home .about title {
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 240px;
  }
  #home .about div figure {
    margin-top: 300px;
  }
  #home .about div {
    justify-content: center;
  }
  #home .about div .btn-register {
    bottom: 15px;
  }
}
@media (min-width: 768px) {
  #home .shop .wap {
    flex-direction: row;
    align-items: flex-end;
  }
  #home .shop .wap figure {
    margin: 10px;
  }
  #home .shop div .btn-register {
    bottom: -150px;
  }
  #home .gallery {
    height: 60vh;
  }
  #home .gallery .wap {
    height: 50%;
    flex-direction: row;
  }
  #home .gallery .wap .master {
    flex-direction: row;
    align-items: flex-end;
  }
  #home .gallery .wap .master figure {
    top: -70px;
    margin: 30px;
  }
  #home .gallery .call {
    margin: 0;
  }
  #home .gallery .call a {
    width: auto;
  }
  #home .gallery .call a span {
    margin: 10px;
    font-size: 19px;
  }
  #home .gallery .call a span:hover {
    border: none;
    border-bottom: 1px solid var(--orange);
    outline: none;
  }
  #home .gallery div .btn-register {
    bottom: 50px;
  }
  #home .about {
    top: 190px;
    height: 1000px;
  }
  #home .about .page-title h4 {
    top: -10px;
    font-size: 30px;
  }
  #home .about .page-title hr {
    top: 30px;
    margin-right: 130px;
  }
  #home .about title {
    font-size: 25px;
    top: 45px;
  }
  #home .about div figure {
    margin-bottom: 395px;
  }
  #home .about div figure img {
    max-width: 35vh;
  }
  #home .about div .btn-register {
    bottom: 215px;
  }
}
@media (min-width: 992px) {
  #home > header h1 {
    width: 400px;
    font-size: 40px;
    margin: 20px;
    bottom: 30px;
  }
  #home > header hr {
    margin-right: 355px;
    bottom: 40px;
  }
  #home .shop .page-title h2 {
    font-size: 35px;
    top: 30px;
  }
  #home .shop .page-title hr {
    top: 65px;
    margin-right: 430px;
  }
  #home .shop .wap figure {
    top: 150px;
  }
  #home .shop .wap .last {
    display: flex;
  }
  #home .shop .wap + .wap {
    display: flex;
  }
  #home .shop div .btn-register {
    bottom: -240px;
  }
  #home .gallery {
    top: 290px;
    height: 100%;
  }
  #home .gallery .page-title h3 {
    font-size: 30px;
    top: 35px;
  }
  #home .gallery .page-title hr {
    top: 70px;
    margin-right: 320px;
  }
  #home .gallery .wap .master figure {
    top: 105px;
  }
  #home .gallery .wap .master .last-photo {
    display: flex;
  }
  #home .gallery .call {
    margin: 100px 0;
  }
  #home .gallery .call a {
    width: auto;
  }
  #home .gallery .call a span {
    margin: 10px;
    font-size: 19px;
  }
  #home .gallery .call a span:hover {
    border: none;
    border-bottom: 1px solid var(--orange);
    outline: none;
  }
  #home .about {
    top: 295px;
    height: 100%;
  }
  #home .about .page-title h4 {
    font-size: 30px;
  }
  #home .about .page-title hr {
    top: 30px;
    margin-right: 130px;
  }
  #home .about div figure {
    margin-top: 140px;
  }
  #home .about div figure img {
    width: 70vh;
    max-width: 400px;
  }
  #home .about div .btn-register {
    bottom: 341px;
  }
}
#footer {
  width: 100%;
  min-width: 320px;
  background-color: #E5E3DF;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns {
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns .links {
  display: none;
}
#footer .columns ul {
  padding: 0;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns ul li {
  list-style: none;
  font-size: 20px;
  flex-direction: column;
  align-items: center;
}
#footer .columns ul li a {
  color: var(--footer);
  text-decoration: none;
  margin: 10px;
}
#footer .columns ul li a img {
  margin-right: 10px;
  color: var(--footer);
  width: 25px;
  height: 25px;
}
#footer .columns ul li.social div a img {
  width: 50px;
  height: 50px;
}
#footer .columns ul li.social a.logo img {
  width: 100px;
  height: 83px;
}
#footer .columns .title {
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
#footer .columns .title-bold {
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  align-items: flex-start;
  margin: 10px 0;
}
#footer .columns .desk-top {
  display: none;
}
#footer p {
  font-weight: bold;
  font-size: 10px;
}

@media (min-width: 992px) {
  #footer {
    padding-bottom: 0;
    top: 0;
  }
  #footer .columns {
    max-width: 1400px;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
  }
  #footer .columns .desk-top {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vh /3);
    font-weight: bold;
  }
  #footer .columns .midh {
    justify-content: center;
    align-items: center;
    width: calc(100vh /3);
  }
  #footer .columns .midh .social {
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column-reverse;
  }
  #footer .columns .links {
    display: flex;
    width: calc(100vh /3);
    align-items: flex-start;
    margin-top: 50px;
  }
  #footer .columns .links ul li {
    margin: 0;
  }
  #footer .columns ul {
    width: 70%;
  }
  #footer .columns ul .title {
    display: none;
  }
  #footer .columns ul li a {
    margin: 0;
  }
  #footer .columns ul li a:hover {
    color: var(--white);
  }
  #footer .columns .social2 {
    width: 290px;
    align-items: flex-start;
  }
  #footer .columns .social2 a img {
    width: 30px;
    height: 30px;
  }
  #footer .columns .logo {
    margin: var(--space) 0;
  }
}
#conect-c {
  width: 100%;
  height: 750px;
  min-width: 320px;
  background-image: url("../images/baners/produtos.webp");
  background-size: cover;
  background-position-x: 19%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  position: relative;
}
#conect-c .contact {
  justify-content: center;
  align-items: center;
  top: 15px;
}
#conect-c .contact .page-title {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: -15px;
}
#conect-c .contact .page-title hr {
  top: 50px;
  margin-right: 210px;
}
#conect-c .contact .page-title h1 {
  display: flex;
  position: absolute;
  color: var(--orange);
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  top: 15px;
}
#conect-c .contact form {
  width: 100%;
  height: 100%;
  margin: 1px;
  position: absolute;
  top: 0px;
}
#conect-c .contact form button {
  margin-top: 30px;
  margin-left: 10px;
}
#conect-c .contact form .field {
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
#conect-c .contact form .field input, #conect-c .contact form .field textarea {
  transition: border-color 0.2s ease-in-out;
  border-radius: 5px;
  background-color: #F7F7F7;
}
#conect-c .contact form img {
  margin-bottom: 30px;
}
#conect-c .contact form div {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#conect-c .contact form div a {
  text-decoration: none;
}
#conect-c .contact form button {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: #FFA500;
}
#conect-c .contact form button a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#conect-c .contact form button:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#conect-c .contact form button:hover {
  background-color: #F6B06A;
}
#conect-c .contact form button:active {
  background-color: var(--footer);
}

@media (min-width: 375px) {
  #conect .contact .page-title {
    top: -30px;
  }
  #conect .contact form button {
    margin-top: 70px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .contact h2 {
    padding: 0px 80px;
  }
  .contact form {
    padding: 40px 80px;
  }
}
@media (min-width: 1200px) {
  body main {
    min-height: calc(100vh - calc(50px + 250px));
  }
  body .contact {
    padding: 0 100px;
  }
  body .contact form {
    border: 1px solid var(--gray-1);
    margin-top: 60px;
    padding: 40px 200px;
  }
}
#shopping {
  width: 100%;
  position: relative;
}
#shopping .shop {
  width: 100%;
  height: calc(100% + 50px);
  min-width: 320px;
  flex-direction: column;
  padding: var(--space);
  position: relative;
  justify-content: center;
  padding-bottom: 80px;
}
#shopping .shop .page-title h2 {
  top: 0px;
}
#shopping .shop .page-title hr {
  margin-right: 91px;
  top: 10px;
}
#shopping .shop .wap {
  flex-direction: column;
}
#shopping .shop .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
#shopping .shop .wap figure a {
  bottom: -40px;
}
#shopping .shop .wap figure a img {
  width: 130px;
}
#shopping .shop .wap figure a:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#shopping .shop .wap .last {
  display: none;
}
#shopping .shop .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: -32px;
  width: 80px;
  height: 30px;
  font-size: 16px;
  font-weight: normal;
  justify-content: center;
  background-color: #E5E3DF;
}
#shopping .shop .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#shopping .shop .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#shopping .shop .btn-register:hover {
  background-color: #F6B06A;
}
#shopping .shop .btn-register:active {
  background-color: var(--footer);
}
#shopping .shop .more {
  justify-content: flex-end;
}
#shopping .shop .more a {
  width: 70px;
  height: 25px;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  bottom: 10px;
}

@media (min-width: 992px) {
  #shopping {
    height: 1200px;
  }
  #shopping .shop {
    height: 100%;
    align-items: center;
  }
  #shopping .shop .wap {
    flex-direction: row;
    align-items: center;
  }
  #shopping .shop .wap figure {
    margin: 10px;
  }
  #shopping .shop .page-title h2 {
    font-size: 35px;
    top: 35px;
  }
  #shopping .shop .page-title hr {
    top: 65px;
    margin-right: 150px;
  }
  #shopping .shop .wap {
    align-items: flex-end;
  }
  #shopping .shop .wap figure {
    top: 10px;
    margin: 50px;
  }
  #shopping .shop .more {
    justify-content: flex-end;
    align-self: flex-end;
    bottom: 310px;
    position: absolute;
  }
  #shopping .shop .more a {
    width: 70px;
    height: 25px;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    bottom: -280px;
  }
}
#auth {
  min-width: 320px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#auth > section {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
#auth > section form {
  margin-top: 170px;
  width: 100%;
  max-width: unset;
}
#auth > section form.hide {
  display: none;
}
#auth > section form .message {
  align-items: center;
  justify-content: center;
}
#auth > section form .message img {
  margin-right: 5px;
}
#auth > section form .message span {
  font-size: 14px;
  font-weight: 600;
  color: rosybrown;
}
#auth > section form h1 {
  text-align: center;
  color: green;
  font-size: 28px;
  font-weight: 600;
  margin: var(--space) auto;
}
#auth > section form hr {
  width: 68px;
  border: none;
  border-top: 4px solid red;
  margin-bottom: var(--space);
}
#auth > section p {
  color: var(--gray-9);
  font-size: 16px;
}

@media (min-width: 500px) {
  #auth > section {
    width: 500px;
    height: initial;
  }
  #auth > section a img {
    top: 125px;
  }
  #auth > section form {
    border: var(--gray-8) 1px solid;
    border-radius: calc(2* 5px);
    width: 100%;
    padding: 50px;
    padding-top: 100px;
  }
}
#gallery {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-image: url("../images/baners/gallery.webp");
  background-size: cover;
  background-position-x: 29%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  position: relative;
}
#gallery .photo {
  top: -41px;
  width: 100%;
  min-width: 320px;
  flex-direction: column;
  padding: var(--space);
  position: relative;
  justify-content: center;
}
#gallery .photo .page-title h2 {
  font-size: 30px;
  top: 0px;
}
#gallery .photo .page-title hr {
  margin-right: 90px;
  top: 26px;
}
#gallery .photo .wap {
  flex-direction: column;
}
#gallery .photo .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 70px;
  margin: 15px;
}
#gallery .photo .wap figure a img {
  width: 90%;
}
#gallery .photo .wap figure a img:hover {
  border: none;
  border-bottom: 1px solid var(--orange);
  outline: none;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#gallery .photo .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  justify-content: center;
}
#gallery .photo .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#gallery .photo .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#gallery .photo .btn-register:hover {
  background-color: #F6B06A;
}
#gallery .photo .btn-register:active {
  background-color: var(--footer);
}
#gallery .photo .more {
  justify-content: flex-end;
}
#gallery .photo .more a {
  width: 130px;
  height: 30px;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  bottom: -60px;
  margin-bottom: 10px;
}
#gallery .photo .trailer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gallery .photo .trailer h3, #gallery .photo .trailer small {
  font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
  flex-direction: column;
  margin-bottom: auto;
  text-align: center;
}
#gallery .photo .trailer small {
  margin: 0;
  color: var(--orange);
  margin-bottom: 20px;
}
#gallery .photo .trailer video {
  width: 100%;
  margin: 0 auto;
  max-width: 720px;
  border-radius: 5px;
}
#gallery .photo .trailer video:hover {
  border: none;
  border: 0.5px solid var(--orange);
  outline: none;
}

@media (min-width: 768px) {
  #gallery .photo .trailer h3, #gallery .photo .trailer small {
    font-size: 30px;
    margin-top: 150px;
  }
  #gallery .photo .trailer small {
    margin: 0;
    color: var(--orange);
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  #gallery .photo {
    height: 100%;
    align-items: center;
  }
  #gallery .photo .wap {
    flex-direction: row;
    align-items: flex-end;
  }
  #gallery .photo .wap figure {
    margin: 0px;
    top: 60px;
    margin: 5px;
  }
  #gallery .photo .page-title h2 {
    font-size: 35px;
    top: -5px;
  }
  #gallery .photo .page-title hr {
    top: -2;
    margin-right: 115px;
  }
  #gallery .photo .more {
    justify-content: flex-end;
    align-self: flex-end;
  }
}
#conect {
  width: 100%;
  height: 750px;
  min-width: 320px;
  background-image: url("../images/baners/produtos.webp");
  background-size: cover;
  background-position-x: 19%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  position: relative;
}
#conect .contact {
  justify-content: center;
  align-items: center;
  top: 15px;
}
#conect .contact .page-title {
  width: 100vw;
  height: 50px;
  position: absolute;
  top: -15px;
}
#conect .contact .page-title hr {
  top: 50px;
  margin-right: 210px;
}
#conect .contact .page-title h1 {
  display: flex;
  position: absolute;
  color: var(--orange);
  font-size: 35px;
  text-align: left;
  font-weight: bold;
  top: 15px;
}
#conect .contact form {
  top: -50px;
  width: 100%;
  height: 100%;
  margin: 1px;
  position: absolute;
  top: 0px;
}
#conect .contact form button {
  margin-top: 30px;
  margin-left: 10px;
}
#conect .contact form .field {
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
#conect .contact form .field input, #conect .contact form .field textarea {
  transition: border-color 0.2s ease-in-out;
  border-radius: 5px;
  background-color: #F7F7F7;
}
#conect .contact form img {
  margin-bottom: 30px;
}
#conect .contact form div {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#conect .contact form div a {
  text-decoration: none;
}
#conect .contact form button {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: #FFA500;
}
#conect .contact form button a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#conect .contact form button:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#conect .contact form button:hover {
  background-color: #F6B06A;
}
#conect .contact form button:active {
  background-color: var(--footer);
}

@media (min-width: 375px) {
  #conect .contact .page-title {
    top: -30px;
  }
  #conect .contact form button {
    margin-top: 70px;
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .contact h2 {
    padding: 0px 80px;
  }
  .contact form {
    padding: 40px 80px;
  }
}
@media (min-width: 1200px) {
  body main {
    min-height: calc(100vh - calc(50px + 250px));
  }
  body .contact {
    padding: 0 100px;
  }
  body .contact form {
    border: 1px solid var(--gray-1);
    margin-top: 60px;
    padding: 40px 200px;
  }
}
#conect .contact form {
  max-width: 900px;
  top: -70px;
}
#conect .contact form img {
  margin-bottom: 30px;
}
#conect .contact form div {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
#conect .contact form div a {
  margin: 10px 0;
  text-decoration: none;
}

#about-us .about {
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-image: url("../images/baners/sobre.webp");
  background-size: cover;
  background-position-x: 65%;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  position: relative;
  flex-direction: column;
}
#about-us .about .one {
  width: 100%;
  min-width: 320px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  position: relative;
  flex-direction: column;
}
#about-us .about .one title {
  font-weight: bold;
  display: flex;
  font-size: 25px;
  text-align: center;
  color: var(--orange);
}
#about-us .about .one div {
  height: 100%;
}
#about-us .about .one div figure img {
  width: 70vw;
}
#about-us .about .two {
  width: 100%;
  min-width: 320px;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  position: relative;
  flex-direction: column;
}
#about-us .about .two .text {
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#about-us .about .two .text span {
  font-family: "Open Sans";
  font-size: 25px;
  color: black;
}
#about-us .about .two .text p {
  font-size: 20px;
  color: var(--purple-3);
}
#about-us .about div {
  justify-content: center;
}
#about-us .about div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: -25px;
}
#about-us .about div .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#about-us .about div .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#about-us .about div .btn-register:hover {
  background-color: #F6B06A;
}
#about-us .about div .btn-register:active {
  background-color: var(--footer);
}

@media (min-width: 992px) {
  #about-us .about {
    flex-direction: row;
  }
  #about-us .about title {
    font-size: 25px;
    top: 45px;
    color: var(--orange);
  }
  #about-us .about div figure img {
    max-width: 350px;
  }
}
#error section {
  width: 100%;
  height: 600px;
  min-width: 320px;
  background-image: url("../images/baners/404.webp");
  background-size: cover;
  background-position-x: 53%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: var(--space);
  position: relative;
}
#error section div {
  width: 80%;
  position: relative;
  flex-direction: column;
  margin-top: -300px;
}
#error section div h1 {
  font-size: 30px;
  margin: 0;
  justify-content: flex-start;
  font-weight: bold;
  color: black;
  margin: 5px 0;
}
#error section div h2 {
  margin: 0;
  font-size: 20px;
  width: 100%;
  margin: 5px 0;
}
#error section div h2 .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: black;
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  border: 1px solid var(--orange);
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  justify-content: center;
  right: 100px;
  color: var(--orange);
  margin-right: -29px;
}
#error section div h2 .btn-register a {
  color: #F2F2F2;
  font-weight: bold;
  margin-left: 10px;
}
#error section div h2 .btn-register:hover {
  background-color: var(--white);
  color: #2E2E2E;
  cursor: pointer;
}
#error section div h2 .btn-register:hover {
  background-color: #F6B06A;
}
#error section div h2 .btn-register:active {
  background-color: var(--footer);
}

@media (min-width: 768px) {
  #error section div {
    width: 40%;
  }
}
@media (min-width: 768px) {
  #error section div {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  #error section div {
    width: 28%;
  }
}

/*# sourceMappingURL=main.css.map */
