@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Nothing";
  src: local("Nothing You Could Do"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Teko";
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GloriaHallelujah";
  src: local("GloriaHallelujah"), url("../fonts/GloriaHallelujah-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
:root {
  --white: #fff;
  --orange:#FE8206;
  --purple-2: #723F94;
  --purple-3: #875BA4;
  --purple-4: #B49AC6;
  --purple-5: #C2C1D9;
  --purple-6: #DED2E6;
  --pink-1: #EA079E;
  --pink-2: #F8F0F0;
  --footer: #414144;
  --gray-2: #F2F2F2;
  --gray-3: #CCCCCC;
  --gray-4: #AF9DBA;
  --gray-5: #F5F5F5;
  --gray-6: #8A8888;
  --orange-1: #ffc663;
  --blue-1: #353383;
  --blue-2: #5c5aa4;
  --black-1: #000000bf;
  --space: 20px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
  display: flex;
}

body {
  margin: 0;
  flex-direction: column;
}
body > main {
  min-height: calc(100vh - calc(62px + 377px));
}
body > main#home {
  flex-direction: column;
}
body > main#home .test1 {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 720px;
}
body > main#home .test2 {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}
body .page-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body .page-title h2, body .page-title h3, body .page-title h4, body .page-title h5 {
  display: flex;
  position: absolute;
  color: var(--orange);
  font-size: 23px;
  text-align: left;
  top: 35px;
  font-weight: bold;
}
body .page-title hr {
  display: flex;
  position: absolute;
  height: 35px;
  width: 35px;
  border: none;
  border-left: var(--orange) 2px Solid;
  border-bottom: var(--orange) 2px Solid;
  color: var(--white);
  top: 50px;
  margin-right: 275px;
}
body .contact {
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
body .contact h2 {
  font-size: 30px;
  font-family: "Open Sans";
  color: var(--gray-1);
  text-align: center;
  margin: 0;
  padding: 0;
}
body .contact hr {
  padding: 0;
  margin: 20px;
  width: 210px;
  border-top: 2px solid var(--gray-1);
  align-self: center;
}
body .contact form {
  margin-bottom: calc( var(--space) * 3 );
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}
body .contact form .field {
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
body .contact form .field label {
  font-family: "Open Sans";
  font-size: 20px;
  color: var(--gray-1);
  transition: color 0.2s ease-in-out;
}
body .contact form .field input {
  border: none;
  border-bottom: 1px solid var(--gray-1);
  font-size: 22px;
  transition: border-color 0.2s ease-in-out;
}
body .contact form .field input:focus {
  border: none;
  border-bottom: 1px solid var(--pink-1);
  outline: none;
}
body .contact form .field input:focus + label {
  color: var(--pink-1);
}
body .contact form button {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
body .contact form button:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
body .contact form button:hover {
  background-color: #F6B06A;
}
body .contact form button:active {
  background-color: red;
}

hr.divider {
  border: none;
  border-bottom: var(--white) 1px solid;
  width: calc(100% - 50px);
  margin-top: 20px;
}

@media (min-width: 768px) {
  .contact h2 {
    padding: 0px 80px;
  }
  .contact form {
    padding: 40px 80px;
  }
}
@media (min-width: 1200px) {
  body main {
    min-height: calc(100vh - calc(50px + 250px));
  }
  body .contact {
    padding: 0 100px;
  }
  body .contact form {
    border: 1px solid var(--gray-1);
    margin-top: 60px;
    padding: 40px 200px;
  }
}
#header {
  min-width: 320px;
  width: 100%;
  height: 100px;
  background-color: #E5E3DF;
  position: relative;
  z-index: 5;
}
#header .first {
  display: none;
}
#header .logo {
  position: absolute;
  transition: all 1s ease-in-out;
  top: 15px;
  width: 100px;
  right: calc(50vw - 36px);
  z-index: 7;
}
#header .menu {
  transition: right 0.5s ease-in-out;
  width: 400px;
  height: 100vh;
  padding-bottom: 50px;
  background-color: #E5E3DF;
  position: fixed;
  right: -400px;
  top: 0;
  z-index: 6;
  flex-direction: column;
  justify-content: space-between;
}
#header .menu hr {
  position: relative;
  width: 60%;
  border-color: #000;
  top: 130px;
}
#header .menu .dow {
  top: 20px;
}
#header .menu nav {
  flex-direction: column;
}
#header .menu nav ul {
  margin: 0;
  padding: 0;
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}
#header .menu nav ul li {
  font-size: 30px;
  padding: 20px 0;
  list-style: none;
  justify-content: center;
}
#header .menu nav ul li a {
  text-decoration: none;
  color: var(--gray-0);
}
#header .menu div {
  align-self: center;
}
#header .menu div .btn-register {
  display: flex;
  text-decoration: none;
  font-weight: 600px;
  position: relative;
  justify-content: center;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}
#header .menu div .btn-register:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
#header .menu div .btn-register:hover {
  background-color: #F6B06A;
}
#header .menu div .btn-register:active {
  background-color: red;
}
#header .menu .sociais a {
  margin: 10px;
  margin-top: 30px;
}
#header #btn-open, #header #btn-close {
  position: absolute;
  right: 20px;
  top: 25px;
  width: 40px;
}

.open-menu {
  overflow: hidden;
}
.open-menu #header .menu {
  width: 100vw;
  right: 0;
}
.open-menu #header .logo {
  right: 87px;
  width: 150px;
  right: calc(50vw - 75px);
}

@media (min-width: 992px) {
  .open-menu {
    overflow: initial;
  }
  .open-menu #header .menu {
    width: calc(100vw - 150px);
    top: 25px;
  }
  .open-menu #header .logo {
    top: 30px;
    right: calc(100vw - 150px);
  }

  #header {
    height: 105px;
    flex-direction: column;
  }
  #header .first {
    display: flex;
    position: relative;
    width: 100%;
    height: 28px;
    background-color: black;
    flex-direction: row;
  }
  #header .first p {
    margin: 0;
    display: flex;
    font-size: 15px;
    color: #CFC6C6;
    align-items: center;
    margin-left: 120px;
  }
  #header .first div {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
  }
  #header .first div a {
    margin-left: 20px;
    align-items: center;
    margin-top: 2px;
  }
  #header .sociais {
    display: none;
  }
  #header .logo {
    width: 100px;
    top: 30px;
    right: calc(100vw - 150px);
    margin-right: 10px;
  }
  #header #btn-open, #header #btn-close {
    display: none;
  }
  #header .menu {
    right: initial;
    position: static;
    background-color: initial;
    width: calc(100vw - 150px);
    height: 100px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
  }
  #header .menu nav {
    width: 100%;
  }
  #header .menu nav hr {
    display: none;
  }
  #header .menu nav ul {
    width: calc(100vw -150px);
    position: absolute;
    flex-direction: row;
    margin-top: -50px;
    justify-content: center;
  }
  #header .menu nav ul li a {
    font-size: 15px;
    min-width: 120px;
    margin: 0 15px;
    padding: 20px 0;
    text-align: center;
  }
  #header .menu nav ul li a:hover {
    color: black;
  }
  #header .menu div {
    justify-content: flex-end;
    margin-right: -130px;
  }
  #header .menu div .btn-register {
    width: 100px;
    height: 25px;
    font-size: 15px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  #header .menu nav ul li a {
    margin: 0 30px;
  }
}
header.page-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
  color: var(--green);
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}
header.page-title hr {
  width: 68px;
  border: none;
  border-top: 4px solid var(--red);
  margin: 10px 0;
}

.page {
  flex-direction: column;
  height: calc(100vh - 140px);
  overflow: auto;
}
.page aside {
  width: 100%;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 80px;
  height: 50px;
  background-color: var(--gray-12);
  border-bottom: var(--gray-3) 1px solid;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}
.page aside header {
  font-size: 32px;
  color: var(--dark-0);
  height: 130px;
  justify-content: center;
  align-items: center;
  display: none;
}
.page aside section {
  padding: 0 var(--space);
  display: none;
  flex: 1;
  max-height: calc(100vh - 339px);
  overflow-y: auto;
}
.page aside section table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: var(--gray-3) 1px solid;
}
.page aside section table td {
  padding: var(--space) 0;
  border-top: var(--gray-3) 1px solid;
}
.page aside section table td.price {
  text-align: right;
}
.page aside footer {
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  font-size: 18px;
  color: var(--dark-0);
}
.page aside footer .total {
  font-weight: bold;
  margin-left: var(--space);
  text-align: right;
}
.page aside footer button {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  min-width: 50px;
  width: 50px;
}
.page aside footer button:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
.page aside footer button:hover {
  background-color: #F6B06A;
}
.page aside footer button:active {
  background-color: red;
}
.page aside footer button svg {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.page aside.open {
  height: calc(100vh - 158px);
}
.page aside.open header, .page aside.open section {
  display: flex;
}
.page aside.open footer button svg {
  transform: rotate(180deg);
}
.page .page-title {
  margin: var(--space);
  width: calc(100% - calc(var(--space) * 2));
}
.page > header {
  width: 100%;
  min-height: 130px;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.page > header h1 {
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.page > header h1 small {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.page > main {
  margin-bottom: 80px;
  flex-direction: column;
}
.page > main .toast {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.page > main .toast.open {
  transform: translateY(-80px);
}
.page footer.fixed {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--gray-12);
  height: 80px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  z-index: 4;
}
.page.blue > header {
  background-color: var(--blue);
}
.page.blue footer.fixed button[type=submit], .page.blue footer.fixed a.black {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
.page.blue footer.fixed button[type=submit]:hover, .page.blue footer.fixed a.black:hover {
  background-color: #F6B06A;
}
.page.blue footer.fixed button[type=submit]:active, .page.blue footer.fixed a.black:active {
  background-color: red;
}
.page.green > header {
  background-color: var(--green);
}
.page.green footer.fixed button[type=submit], .page.green footer.fixed a.black {
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.page.green footer.fixed button[type=submit]:hover, .page.green footer.fixed a.black:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
.page.green footer.fixed button[type=submit]:hover, .page.green footer.fixed a.black:hover {
  background-color: #F6B06A;
}
.page.green footer.fixed button[type=submit]:active, .page.green footer.fixed a.black:active {
  background-color: red;
}

@media (min-width: 1200px) {
  header.page-title h1, header.page-title h2, header.page-title h3, header.page-title h4, header.page-title h5, header.page-title h6 {
    font-size: 30px;
  }

  .page aside, .page aside.open {
    width: 375px;
    height: calc(100vh - 118px);
    bottom: 0;
    z-index: 4;
  }
  .page aside header, .page aside section, .page aside.open header, .page aside.open section {
    display: flex;
  }
  .page aside header, .page aside.open header {
    height: 160px;
  }
  .page aside footer, .page aside.open footer {
    height: 80px;
  }
  .page aside footer > div, .page aside.open footer > div {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
  }
  .page aside footer > div .total, .page aside.open footer > div .total {
    font-size: 29px;
  }
  .page aside footer button, .page aside.open footer button {
    display: none;
  }
  .page > header {
    justify-content: flex-start;
    padding-left: 185px;
    min-height: 160px;
  }
  .page > header h1 {
    font-size: 32px;
  }
  .page footer.fixed {
    justify-content: flex-start;
  }
  .page footer.fixed button + button, .page footer.fixed a + a, .page footer.fixed button + a, .page footer.fixed a + button {
    margin-right: var(--space);
  }
  .page footer.fixed button, .page footer.fixed a {
    order: 1;
  }
  .page footer.fixed button:first-child, .page footer.fixed a:first-child {
    order: 2;
  }
}
#home {
  flex-direction: column;
  margin-top: -80px;
}
#home > header {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-image: url("../images/baners/home.webp");
  background-size: cover;
  background-position-x: 55%;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--space);
  position: relative;
}
#home > header h1 {
  display: flex;
  width: 300px;
  position: absolute;
  font-weight: bold;
  color: var(--orange);
  font-size: 30px;
  text-align: left;
  bottom: 99px;
  margin: -21px;
  align-items: center;
  justify-content: center;
}
#home > header hr {
  position: absolute;
  height: 70px;
  width: 80px;
  flex-direction: column;
  border: none;
  border-left: var(--orange) 3px Solid;
  border-bottom: var(--orange) 3px Solid;
  color: var(--white);
  bottom: 70px;
  margin-left: 10px;
  margin-right: 204px;
}
#home .shop {
  min-width: 320px;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  position: relative;
  justify-content: center;
}
#home .shop .wap {
  flex-direction: column;
}
#home .shop .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 100px;
}
#home .shop .wap .last {
  display: none;
}
#home .shop .wap {
  flex-direction: column;
}
#home .shop .wap figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 100px;
}
#home .shop .wap .last {
  display: none;
}
#home .shop .wap + .wap {
  display: none;
}
#home .shop div {
  justify-content: center;
}
#home .shop div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: -150px;
}
#home .shop div .btn-register:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
#home .shop div .btn-register:hover {
  background-color: #F6B06A;
}
#home .shop div .btn-register:active {
  background-color: red;
}
#home .gallery {
  top: 190px;
  width: 100%;
  min-width: 320px;
  height: calc(100vh + 200px);
  background-image: url("../images/baners/gallery.webp");
  background-size: cover;
  background-position-x: 29%;
  background-position-y: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  position: relative;
}
#home .gallery .page-title h3 {
  top: 0px;
}
#home .gallery .page-title hr {
  margin-right: 200px;
  top: 18px;
}
#home .gallery .wap {
  flex-direction: column;
  height: 100vh;
}
#home .gallery .wap .master {
  flex-direction: column;
  width: 250px;
}
#home .gallery .wap .master figure {
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 10px;
  margin: 10px;
}
#home .gallery .wap .master .last-photo {
  display: none;
}
#home .gallery div {
  justify-content: center;
  align-items: center;
}
#home .gallery div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: 10px;
}
#home .gallery div .btn-register:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
#home .gallery div .btn-register:hover {
  background-color: #F6B06A;
}
#home .gallery div .btn-register:active {
  background-color: red;
}
#home .about {
  top: 195px;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-image: url("../images/baners/sobre.webp");
  background-size: cover;
  background-position-x: 65%;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: var(--space);
  position: relative;
  flex-direction: column;
}
#home .about .page-title hr {
  top: 60px;
  margin-right: 100px;
}
#home .about title {
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  position: absolute;
  top: 80px;
}
#home .about div figure {
  margin-top: 100px;
}
#home .about div {
  justify-content: center;
}
#home .about div .btn-register {
  display: flex;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: 35px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--black-1);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  bottom: 30px;
}
#home .about div .btn-register:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
#home .about div .btn-register:hover {
  background-color: #F6B06A;
}
#home .about div .btn-register:active {
  background-color: red;
}

@media (min-width: 375px) {
  #home > header h1 {
    font-size: 35px;
    bottom: 60px;
    margin: 20px;
  }
  #home > header hr {
    margin-right: 250px;
  }
  #home .shop figure {
    top: 90px;
  }
  #home .gallery .wap .master figure {
    top: -10px;
  }
  #home .gallery div .btn-register {
    bottom: 50px;
  }
  #home .about {
    height: 80vh;
  }
  #home .about .page-title hr {
    top: 60px;
    margin-right: 100px;
  }
  #home .about title {
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 80px;
  }
  #home .about div figure {
    margin-top: 120px;
  }
  #home .about div {
    justify-content: center;
  }
  #home .about div .btn-register {
    bottom: 10px;
  }
}
@media (min-width: 768px) {
  #home .shop .wap {
    flex-direction: row;
    align-items: flex-end;
  }
  #home .shop .wap figure {
    margin: 10px;
  }
  #home .shop div .btn-register {
    bottom: -150px;
  }
  #home .gallery {
    height: 70vh;
  }
  #home .gallery .wap {
    flex-direction: row;
  }
  #home .gallery .wap .master {
    flex-direction: row;
    align-items: flex-end;
  }
  #home .gallery .wap .master figure {
    top: 0;
    margin: 30px;
  }
  #home .gallery div .btn-register {
    bottom: 50px;
  }
  #home .about {
    height: 80vh;
  }
  #home .about .page-title h4 {
    top: 10px;
  }
  #home .about .page-title hr {
    top: 30px;
    margin-right: 100px;
  }
  #home .about title {
    font-size: 25px;
    top: 45px;
  }
  #home .about div figure img {
    max-width: 35vh;
  }
  #home .about div .btn-register {
    bottom: 15px;
  }
}
@media (min-width: 992px) {
  #home > header h1 {
    width: 400px;
    font-size: 40px;
    margin: 20px;
    bottom: 30px;
  }
  #home > header hr {
    margin-right: 355px;
    bottom: 40px;
  }
  #home .shop {
    height: 70vh;
  }
  #home .shop .page-title h2 {
    font-size: 35px;
    top: 35px;
  }
  #home .shop .page-title hr {
    top: 65px;
    margin-right: 430px;
  }
  #home .shop .wap figure {
    top: 150px;
  }
  #home .shop .wap .last {
    display: flex;
  }
  #home .shop .wap + .wap {
    display: flex;
  }
  #home .shop div .btn-register {
    bottom: -240px;
  }
  #home .gallery {
    top: 290px;
    height: 100vh;
  }
  #home .gallery .page-title h3 {
    font-size: 35px;
    top: 35px;
  }
  #home .gallery .page-title hr {
    top: 70px;
    margin-right: 320px;
  }
  #home .gallery .wap .master .last-photo {
    display: flex;
  }
  #home .about {
    top: 295px;
  }
}
#footer {
  top: 195px;
  width: 100%;
  min-width: 320px;
  background-color: #E5E3DF;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns {
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns .links {
  display: none;
}
#footer .columns ul {
  padding: 0;
  flex-direction: column;
  align-items: center;
  color: var(--footer);
}
#footer .columns ul li {
  list-style: none;
  font-size: 16px;
  padding: 0.5em 0;
}
#footer .columns ul li a {
  color: var(--footer);
  text-decoration: none;
}
#footer .columns ul li a img {
  margin-right: 0px;
  color: var(--footer);
}
#footer .columns ul li.title {
  font-weight: bold;
  font-size: 20px;
}
#footer .columns ul li.social {
  width: 100vw;
  color: var(--footer);
  justify-content: center;
  align-items: center;
}
#footer .columns ul li.social a {
  margin: 0.5em;
}
#footer .columns .logo {
  margin: var(--space) 0;
}
#footer p {
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 992px) {
  #footer {
    top: 295px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
  }
  #footer .columns {
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
  #footer .columns .links {
    display: flex;
    width: 100px;
  }
  #footer .columns ul {
    width: 70vw;
  }
  #footer .columns ul li a:hover {
    color: var(--white);
  }
  #footer .columns .logo {
    margin: var(--space) 0;
  }
}
@media (min-width: 1200px) {
  #footer .columns ul {
    width: 80vw;
  }
  #footer .columns .logo {
    width: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
