#conect {
    .contact {
        .page-title {
            h1 {

            }
            hr {
                margin-right: 210px;

            }
        }
        form {
            max-width: 900px;
            img {
                margin-bottom: 80px;
            }
            div{
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                a{
                    text-decoration: none;
                    

                }
            }
        }
    }
}