#conect {
    .contact {
       
        form {
            max-width: 800px;
            top: -100px;
            h1{
                color:dimgray;
            }

            img {
                margin-bottom: 30px;
            }
            div{
                width: 100%;
                flex-direction: row;
                justify-content: space-around;
                a{
                    margin: 10px 0;
                    text-decoration: none;
                }
            }
            .message {
                font-size: 20px;
                color: blue;
               
            }
        }
    }
}