@mixin button-orange{
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--orange);
    border-radius: 5px;
    color: black;
    font-size: 19px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    a{
        color:#F2F2F2;
        font-weight: bold;
        margin-left: 10px;

    }
    &:hover {
        background-color: var(--white);
        color:#2E2E2E;
        
        cursor: pointer;
    }
    &:hover {
        background-color: #F6B06A;
    }
    &:active {
        background-color: var(--footer);
    }
}